<body>
  <main class="main " id="top">
    <br>
    <section class="py-7" id="services" container-xl="container-xl">

      <div class="container mt-5" style="  background-image: none;  background-color: #F3E5DA; border-radius: 30px">

        <div class="row" style="text-align: center">
          <h2>Presentation of course</h2>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
        </div>
        <div class="row" style="text-align: center">
          <h2>Adopted pedagogy</h2>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
        </div>
        <div class="row" style="text-align: center">
          <h2>The adoptation of learning activities</h2>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
        </div>
        <div class="row" style="text-align: center">
          <h2>Course workload</h2>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
        </div>
        <div class="row" style="text-align: center">
          <h2>Achievement of learning</h2>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
          <div class="clip-star"></div>
        </div>


      

      </div>
    </section>
  </main>
</body>
